.card { 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    max-width: 524px;
    max-height: 400px;
}

.title {
    padding-left: 15px;
}

.content {
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.footer {
    padding-top: 20px;
    padding-right: 15px;
    align-self: end;
}

p {

}

.container {
    background-color: #d7f8ff;
    border: 1px solid #d7f8ff;
    display: flex;
    width: 524px;
    height: 90vh;
    flex-direction: column;
}