.container {
    display: flex;
    justify-content: center;
}

.bg {
	width: 100%;
	height: 98vh;
	background-color: turquoise;
	border-radius: 5px;
}

.btn-outline {
	border-radius: 5px;
	border-width: 2px;
	background-color: transparent;
	border-color: cornflowerblue;
	padding: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.btn-outline:hover {
	border-radius: 3px;
	background-color: cornflowerblue;
	cursor: pointer;
}