$background-color: #fef1d2;
$important: #d7f8ff;
$warning: #feceea;
$base-color: #cec5fa;
$principal-font: Arial;
$seconrady-font: sans-serif;
$border-radius: 5px;
$shadow-box: 15px 20px 5px 5px #a9fdd8;
$color: black;