$background-color: #121212;
$important: #03DAC6;
$warning: #cf6679;
$base-color: #bb86fc;
$principal-font: Helvetica;
$seconrady-font: Times;
$border-radius: 25px;
$shadow-box: 5px 10px #cf6679;
$color: white;